{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
      <div class="col-lg-12">

                                <div class="card-box">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Начало</th>
                                            <th>Время</th>
                                            <th>TimeStamp</th>
                                            <th>Тип события</th>
                                            <th>Команда</th>
                                            <th>Счет</th>
                                            <th>Команда</th>
                                            <th>Половина</th>
                                            <th>P1</th>
                                            <th>PX</th>
                                            <th>P2</th>
                                            <th>Html</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                         {% for game in games%}
                                        <tr>

                                            <th scope="row">{{forloop.counter}}</th>
                                            <td>{{game.begin_time}}</td>
                                            <td>
                                                {% if game.timer|slice:"0:2" < '30'%}
                                                <div class="badge badge-primary">{{game.timer}}</div>
                                                {% else %}
                                                {{game.timer}}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{game.time_stamp|time:"H:i:s"}}
                                            </td>
                                            <td>{% if game.event_type == '0' %}
                                                New!
                                                {% elif game.event_type == '1' %}
                                                ГОЛ
                                                {% elif game.event_type == '2' %}
                                                КРАСНАЯ
                                                {% else %}
                                                -
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if game.rhcard %}
                                                    {% for card in game.rhcard %}
                                                        <img src="{% static "/images/card-red.png" %}" alt="Red_card">
                                                    {% endfor %}
                                                {% endif %}
                                                {% if game.dog == '1' %}
                                                    <div class="badge-danger">{{game.team_home}}</div>
                                                {% else %}
                                                    {{game.team_home}}
                                                {% endif %}
                                            </td>
                                            <td>{{game.score}}</td>
                                            <td>
                                                {% if game.dog == '2' %}
                                                    <div class="badge-danger">{{game.team_away}}</div>
                                                {% else %}
                                                    {{game.team_away}}
                                                {% endif %}
                                                {% if game.racard %}
                                                    {% for card in game.racard %}
                                                        <img src="{% static "/images/card-red.png" %}" alt="Red_card">
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>{{game.part_top}}</td>
                                            <td>{{game.pre_p1}}</td>
                                            <td>{{game.pre_x}}</td>
                                            <td>{{game.pre_p2}}</td>
                                            <td><a href = "https://www.myscore.ru/match/{{game.html_link}}/#match-summary" target="_blank">Подробнее</a></td>

                                        </tr>
                                         {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
{% endblock %}